// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700

.roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 :root{
    --branco: white;
    --cor-de-fundo: ##00162E;
    --fundo-senha: #00244D;
    --fundo-texto: #001E40;
    --borda: #0075FF;
    --roboto: 'Roboto' , sans-serif;
    : Roboto-Mono, monospace;
 }
body{
   color: var(--branco);
   background-color:var(--cor-de-fundo);
}